body{
  background-color: white;
  color: black;
  font-weight: 500;
}
.hh{
/*background-color: #395da3;
*/
/*  background: linear-gradient(to right top, #c4ebf2, #f6d2de);
*/      background: linear-gradient(to right top, #acedfc, #f6d2de);

  border-radius: 0px 0px 770px 466px / 0px 0px 344px 32px;
  height: 32rem;
}

.workspace-img{
  width: 100px;
}

.headpic{
position: absolute;
position: absolute;
height: 460px;
left: 733px;
    top: 150px;
    width: 666px;
}

.head{
position: absolute;
width: 632px;
height: 72px;
left: 120px;
top: 528px;

font-family: Poppins;
font-style: normal;
font-size: 24px;
line-height: 36px;
}

.logo{
    margin-left: 4.44%;
    margin-right: 92.87%;
    margin-top: 1.4%;
}

.link{
  position: absolute;
  width: 122px;
height: 36px;
left: 521px;
top: 34px;
color: inherit;
}
.ace{
    color: inherit;
   left: 129px; 
   top: 34.61px; 
   position: absolute;
   font-weight: bold;
}

.button{
  position: absolute;
height: 51px;
left: 1163px;
top: 24px;
background: #FFFFFF;
border-radius: 4px;
padding: 14px;
color: black;
}

.create{
  position: absolute;
width: 328px;
height: 40px;
left: 120px;
top: 160px;

background: #874FB7;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 4px;
padding: 6px 20px 4px 66px;
}

.create2{
position: absolute;
width: 519px;
height: 216px;
left: 120px;
top: 148px;
font-size: 3.125rem;
}

.create3{
  position: absolute;
width: 632px;
height: 72px;
left: 120px;
top: 341px;
    font-size: 21px;
    font-weight: 300;
}

.account{
  position: absolute;
width: 188px;
    height: 49px;
left: 120px;
top: 420px;
color: #395da3;
background: #FFFFFF;
border-radius: 4px;
    text-align: center;
    padding-top: 11px
}

.demo{
  position: absolute;
    width: 188px;
    height: 49px;
    left: 338px;
  top: 420px;

background: #bfe6f4;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 4px;
    text-align: center;
    padding-top: 11px;
    color: inherit;
}

.download{
position: absolute;
width: 368px;
height: 42px;
left: 120px;
top: 530px;
color: black;
}

.get{
  position: absolute;
width: 632px;
height: 72px;
left: 120px;
top: 565px;
color: black;
}

.google{
  position: absolute;
width: 258px;
    height: 60px;
left: 120px;
top: 624px;
text-align: center;
background: #000000;
border-radius: 8px;
color: white !important;
padding-top: 11px;
}

.apple{
  position: absolute;
    width: 258px;
    height: 61px;
    left: 407px;
    top: 624px;
color: white !important;
text-align: center;
background: #000000;
border-radius: 8px;
padding-top: 11px;
}


@media (max-width: 768px) {
.create2{
  width: 405px;
    height: 216px;
    left: 35px;
    font-size: 2.225rem;
}
.create3{
  left: 27px;
  top: 294px;
  font-size: 20px;
  width: 345px;
}
.account{
    width: 133px;
    left: 32px;
}
.demo{
  width: 133px;
  left: 197px;
}
.download{
  left: 34px;
}
.get{
      width: 352px;
    left: 30px;
}
.google{
    width: 152px;
    height: 53px;
    left: 34px;
}
.apple{
    width: 160px;
    height: 54px;
    left: 201px;
}
.link{
  position: inherit;
}
.headpic{
  display: none;
}
.talk{
  position: inherit;
}
}



