* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
.row {
    height: 100vh;
    align-content: center;
}
form {
    margin-top: 20px;
}
h2 {
    line-height: 70px;
}
.btn {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    border: none;
}
.btn-custom1 {
    background: #A5A6F6;
}
.btn-custom2 {
    background: #FCDDEC;

}
span {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    line-height: 25px;
}
#my-signin2 {
    margin: auto;
    margin-top: 24px;
}
.forgot-password {
    line-height: 25px;
    color: #EF5DA8 !important;
    text-align: right;
}
.col-md img {
    margin: auto;
    width: 100%;
    min-width: 350px;
}
.sign-up-image {
    margin: auto;
    width: 100%;
    max-width: 450px;
}
@media screen and (max-width: 990px) {
    .col-md {
        display: none;
    }
}