<style>

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

  .card {

    display: flex;

    justify-content: center;

    flex-direction: column;

    font-family: 'Lato', sans-serif;

    color: #011f4b;

    margin: 24px auto;

    padding: 24px;

    width: 75%;

    max-width: 500px;



    border-radius: 8px;

    background: #F8F8F8; 

	  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);   
  }

  .card h2, .card p {

    text-align: center;

  }

  .card h2 {

    margin: auto;

    max-width: 280px;

  }

  .card p {

    margin: 24px auto;

    max-width: 350px;

    line-height: 25px;

  }

</style>

<div class="text card">

<h2>Make your Announcements Well-managed</h2>

<p class="lead">Organise your event announcements more efficiently.</p>

</div>

<div class="text card">

<h2>Eco-Friendly Announcements</h2>

<p class="lead">Use less papers in writing of announcements.</p>

</div>

<div class="text card">

<h2>Readable Text</h2>

<p class="lead">Update and delete announcements without worrying about cancelation and unreadability. Use our in-built text editor to make your grammar more refined.</p>

</div>

<div class="text card">

<h2>Add Contributors</h2>

<p class="lead">Add users who will have permissions to add announcements to your workspace.</p>

</div>



















