
<div class="text card">
<h2>Make your Announcements well-managed.</h2>
<p class="lead">Organise, your event Announcements more efficiently.</p>
</div>

<div class="text card">
<h2>Eco-Friendly Announcements</h2>
<p class="lead">Use less pappers in writing of Announcements.</p>
</div>

<div class="text card">
<h2>Readiabe Text</h2>
<p class="lead">Update and delete announcements without worrying about cancelation and unreadiability. Use our in-built text editor to make your grammer more refined </p>
</div>

<div class="text card">
<h2>Add Contributors</h2>
<p class="lead">Add Users who will have permissions to add announcements to your workspace</p>
</div>
